* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
}

header h1 {
    text-align: center;
}

nav {
    padding: 20px;
    text-align: center;
}

a {
    color: #fff;
}

main {
    padding-top: 20px;
}

h2 {
    color: #1a5f4f;
}

p {
    margin: 10px 0;
}

img {
    max-height: 100px;

}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}